In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
# To ignore all warnings
warnings.filterwarnings("ignore")

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [11]:
df = pd.read_csv (r"C:\Users\fabi_\OneDrive\Estudos e Cursos\Data analytics\Ironhack.Labs\lab-predictions-logistic-regression\framingham.csv")
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [15]:
df = df.dropna()
df.isna().sum().sum()

0

In [19]:
df.duplicated().sum()

0

# Model to predict CDH - Cardiac Heart Disease

In [20]:
df.groupby('TenYearCHD').count()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
TenYearCHD,,,,,,,,,,,,,,,
0,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099
1,557,557,557,557,557,557,557,557,557,557,557,557,557,557,557

In [21]:
X = df.drop('TenYearCHD',axis = 1)
y = df['TenYearCHD']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size = 0.2)

LR = LogisticRegression()
LR.fit(X_train, y_train)

LR.score(X_test, y_test) # 20% of the df # 83% of predictions were correct # THIS IS THE REALISTIC PREDICTION

0.8346994535519126

# Evaluate results

In [22]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

pred = LR.predict(X_test)

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

precision:  0.5333333333333333
recall:  0.06557377049180328
f1:  0.11678832116788322

In [23]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.84      0.99      0.91       610
           1       0.53      0.07      0.12       122

    accuracy                           0.83       732
   macro avg       0.69      0.53      0.51       732
weighted avg       0.79      0.83      0.78       732

Out of all patients predicted to have CDH, 53% of predictions were correct.

Out of all patients that actually have CDH, only 7% were caught.

These percentages need to be higher.

In [24]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[603,   7],
       [114,   8]], dtype=int64)

603 patients were predicted to be negative for CDH, and were actually negative.

7 patients were predicted to be positive for CDH, but were actually negative.

8 patients were predicted to be positive for CDH, and were actually positive.

114 patients were predicted to be negative for CDH, but were actually positive. > This number need to be smaller.

In [28]:
# Redefining the threshold
custom_threshold = 0.3  
custom_predictions = (predicted_probabilities >= custom_threshold).astype(int)

In [30]:
confusion_matrix(y_test,custom_predictions)

array([[561,  49],
       [ 93,  29]], dtype=int64)

Here we missed more negative diagnoses, but being a false positive doesn't impact on their health.

In [31]:
# Redefining the threshold
custom_threshold = 0.1  
custom_predictions = (predicted_probabilities >= custom_threshold).astype(int)

In [32]:
confusion_matrix(y_test,custom_predictions)

array([[287, 323],
       [ 35,  87]], dtype=int64)

Here we missed many more negative diagnoses, but at a smallest threshold we were able to catch 87 patients that were predicted to be positive for CDH, and were actually positive.

And now only 35 patients were predicted to be negative for CDH, but were actually positive.

This was the best model.

# Oversampling

In [33]:
df.groupby('TenYearCHD').count()
# The number of patients who don't have CHD is  +5x higher than the number of the ones who don't

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
TenYearCHD,,,,,,,,,,,,,,,
0,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099,3099
1,557,557,557,557,557,557,557,557,557,557,557,557,557,557,557

In [41]:
from sklearn.utils import resample

train = pd.concat([X_train, y_train],axis=1)
train.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
780,0,46,3.0,1,20.0,0.0,0,0,0,253.0,118.0,82.0,19.70,100.0,70.0,0
2218,1,43,2.0,1,20.0,0.0,0,0,0,226.0,132.5,85.0,26.64,72.0,58.0,0
3251,0,48,3.0,1,20.0,0.0,0,0,0,259.0,129.0,81.0,21.08,75.0,65.0,0
3482,1,38,2.0,0,0.0,0.0,0,1,0,256.0,123.0,92.0,25.42,62.0,82.0,0
2662,0,51,1.0,0,0.0,0.0,0,1,0,285.0,151.5,79.0,26.91,84.0,76.0,0

In [38]:
# separate majority/minority classes
no_CHD = train[train['TenYearCHD']==0]
yes_CHD = train[train['TenYearCHD']==1]

display(no_CHD.shape)
display(yes_CHD.shape)

(2489, 16)

(435, 16)

In [39]:
# oversample minority
yes_CHD_oversampled = resample(yes_CHD, #<- oversample from here 
                                    replace=True, #<- we need replacement, since we don't have enough data otherwise
                                    n_samples = len(no_CHD),#<- make both sets the same size # make the yes_CHD set equal to the size of no_CHD
                                    random_state=0)

# both sets are now of a reasonable size
display(no_CHD.shape)
display(yes_CHD_oversampled.shape)

(2489, 16)

(2489, 16)

In [40]:
# Create an oversample dataframe
train_oversampled = pd.concat([no_CHD,yes_CHD_oversampled])
train_oversampled.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
780,0,46,3.0,1,20.0,0.0,0,0,0,253.0,118.0,82.0,19.70,100.0,70.0,0
2218,1,43,2.0,1,20.0,0.0,0,0,0,226.0,132.5,85.0,26.64,72.0,58.0,0
3251,0,48,3.0,1,20.0,0.0,0,0,0,259.0,129.0,81.0,21.08,75.0,65.0,0
3482,1,38,2.0,0,0.0,0.0,0,1,0,256.0,123.0,92.0,25.42,62.0,82.0,0
2662,0,51,1.0,0,0.0,0.0,0,1,0,285.0,151.5,79.0,26.91,84.0,76.0,0

In [43]:
y_train_over = train_oversampled['TenYearCHD']
X_train_over = train_oversampled.drop('TenYearCHD',axis = 1)

In [44]:
LR = LogisticRegression(max_iter = 1000)
LR.fit(X_train_over, y_train_over)
pred = LR.predict(X_test)

print("Accuracy: ",LR.score(X_test, y_test))

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

print(classification_report(y_test, pred))

Accuracy:  0.6775956284153005
precision:  0.2857142857142857
recall:  0.6229508196721312
f1:  0.3917525773195876
              precision    recall  f1-score   support

           0       0.90      0.69      0.78       610
           1       0.29      0.62      0.39       122

    accuracy                           0.68       732
   macro avg       0.59      0.66      0.59       732
weighted avg       0.80      0.68      0.72       732

Out of all patients predicted to have CDH, 29% of predictions were correct. # this is worse

Out of all patients that actually have CDH, now 62% were caught. # this is much better

In [45]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[420, 190],
       [ 46,  76]], dtype=int64)

420 patients were predicted to be negative for CDH, and were actually negative. # this is good

190 patients were predicted to be positive for CDH, but were actually negative. # this is still a bit high

76 patients were predicted to be positive for CDH, and were actually positive.# this is good

46 patients were predicted to be negative for CDH, but were actually positive. 

This model was not as effective as lowering the threshold.

# Undersampling

In [46]:
# separate majority/minority classes
no_CHD = train[train['TenYearCHD']==0]
yes_CHD = train[train['TenYearCHD']==1]

# undersample majority
no_CHD_undersampled = resample(no_CHD, #<- downsample from here
                                    replace=False, #<- no need to reuse data now, we have an abundance
                                    n_samples = len(yes_CHD),
                                    random_state=0)

# both sets are the same size
# small, but balanced, and no repeated data
display(no_CHD_undersampled.shape)
display(yes_CHD.shape)

(435, 16)

(435, 16)

In [47]:
train_undersampled = pd.concat([yes_CHD,no_CHD_undersampled])
train_undersampled.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3731,1,60,1.0,0,0.0,0.0,0,1,0,220.0,167.5,110.0,30.41,90.0,84.0,1
2528,1,65,2.0,0,0.0,0.0,0,0,1,238.0,122.0,81.0,23.95,67.0,150.0,1
3680,0,47,2.0,1,20.0,0.0,0,1,1,211.0,159.5,82.5,34.08,86.0,250.0,1
4022,1,60,3.0,1,10.0,0.0,0,1,0,250.0,157.0,94.0,29.89,63.0,68.0,1
196,1,48,1.0,1,10.0,0.0,0,0,0,308.0,117.0,76.0,30.85,65.0,54.0,1

In [48]:
y_train_under = train_undersampled['TenYearCHD']
X_train_under = train_undersampled.drop('TenYearCHD',axis = 1)

In [49]:
LR = LogisticRegression(max_iter = 1000)
LR.fit(X_train_under, y_train_under)
pred = LR.predict(X_test)

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))

print(classification_report(y_test, pred))

precision:  0.2791519434628975
recall:  0.6475409836065574
f1:  0.39012345679012345
              precision    recall  f1-score   support

           0       0.90      0.67      0.77       610
           1       0.28      0.65      0.39       122

    accuracy                           0.66       732
   macro avg       0.59      0.66      0.58       732
weighted avg       0.80      0.66      0.70       732

Out of all patients predicted to have CDH, 28% of predictions were correct. 

Out of all patients that actually have CDH, now 62% were caught.

These numbers are very similar to the oversampling method.

In [50]:
confusion_matrix(y_test,pred)

array([[406, 204],
       [ 43,  79]], dtype=int64)

406 patients were predicted to be negative for CDH, and were actually negative. 

209 patients were predicted to be positive for CDH, but were actually negative. 

79 patients were predicted to be positive for CDH, and were actually positive.

46 patients were predicted to be negative for CDH, but were actually positive. 

This model was not as effective as lowering the threshold.